[user]
name = glaciermelt00
email = glacier-melt@hotmail.co.jp
[core]
editor = vi
excludesfile = /Volumes/dev/git-dev/dotfiles/.gitignore
[color]
ui     = true
branch = auto
diff   = auto
status = auto
pager  = true
[alias]
b = branch
co = checkout
ci = commit
st = status
ll    = log --graph --all
ls    = log --graph --all --date=short --pretty=format:'%Cgreen%h %cd %Cred%cn %Creset%s %Cred%d'
ac = !git add -A && aicommits -a
s = switch
[push]
default = simple
